
@import '~bootstrap/scss/bootstrap';

$primary-color: #007bff;
$dark-color: #343a40;

body {
    background-color: #f8f9fa;
}

header {
    background-color: $dark-color;
    .navbar {
        .navbar-brand {
            color: white;
        }
        .nav-link {
            color: white;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

footer {
    background-color: $dark-color;
    .text-white {
        color: white;
    }
}
